body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  background-color: #4caf50;
  color: #fff;
  text-align: center;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: 1px solid #ccc;
}

nav ul {
  padding: 0;
  list-style: none;
}

nav ul li {
  float: left;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border: 1px solid #fff;
  border-radius: 5px;
}

main {
  padding: 20px;
}

footer {
  text-align: center;
  padding: 30px 20px;
}

.project {
  margin-bottom: 20px;
}

.project img {
  max-width: 100%;
  height: auto;
}
